# GROUP BY and AGGREGATE FUNCTIONS

- group together the values in a column and display them all on the same row
- this allows to perform aggregate functions on those groupings

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\arfil\Downloads\DATA ANALYST FOLDER\JUPYTER NOTEBOOK\Flavors.csv")

df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

#### Group By - Mean

In [26]:
base_flavor_mean = df.groupby('Base Flavor').mean(numeric_only = True)

base_flavor_mean

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

#### Group By - Count

In [30]:
base_flavor_count = df.groupby('Base Flavor').count()

base_flavor_count

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

#### Group By - Min

In [43]:
base_flavor_min = df.groupby('Base Flavor').min()

base_flavor_min

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

#### Group By - Max

In [41]:
base_flavor_max = df.groupby('Base Flavor').max()

base_flavor_max

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

#### Group By - Sum

In [53]:
base_flavor_sum = df.groupby('Base Flavor').sum(numeric_only = True)

base_flavor_sum

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

#### Aggregation Function

In [58]:
df.groupby('Base Flavor').agg({'Flavor Rating':['mean', 'count', 'min', 'max', 'sum'], 
                              'Texture Rating':['mean', 'count', 'min', 'max', 'sum']})

            Flavor Rating                        Texture Rating             \
                     mean count  min   max   sum           mean count  min
Base Flavor
Chocolate             8.4     3  8.2   8.8  25.2       7.233333     3  7.0
Vanilla               5.7     6  2.3  10.0  34.2       5.650000     6  3.4


             max   sum
Base Flavor
Chocolate    7.6  21.7
Vanilla      8.0  33.9

#### Grouping on Multiple Columns

In [61]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [67]:
df.groupby(['Base Flavor', 'Liked']).mean(numeric_only = True)

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [71]:
df.groupby(['Base Flavor', 'Liked']).agg({'Flavor Rating':['mean', 'count', 'min', 'max', 'sum']})

                  Flavor Rating
                           mean count  min   max   sum
Base Flavor Liked
Chocolate   Yes             8.4     3  8.2   8.8  25.2
Vanilla     No              3.6     3  2.3   4.7  10.8
            Yes             7.8     3  6.5  10.0  23.4

#### Describe Function

In [74]:
df.groupby('Base Flavor').describe()

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]